.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.author-profile {
  width: 80%;
  overflow: hidden;
  aspect-ratio: 3/2;
  
  img {
    width: 100%;
    border-radius: 10px;
  };
}

.author-intro {
  margin-bottom: 0;
}

.social-links {
  font-size: 1.5rem;
  margin: 0 1rem;

  i {
    cursor: pointer;
  }
}

.social-links i:hover {
  font-size: 1.75rem;
  color: var(--link-color);
}

.intro-name {
  font-size: 2.5rem;
}

.intro-profession {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.intro-description {
  font-size: 1.25rem;
}

.desc-img {
  width: 2rem;
  margin: 0.1rem 0.25rem;
}

.tag {
  border: 3px solid var(--border-color);
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  color: var(--text-color);
}

// ========== MEDIA QUERIES ==============

@media (max-width: 950px) {
  
  .intro-name {
    font-size: 2rem;
  }

  .intro-profession {
    font-size: 2.75rem;
    margin-bottom: 1.5rem;
  }

  .intro-description {
    font-size: 1.1rem;
  }

}

@media (max-width: 768px) {
  
  .social-links {
    margin: 0 0.5rem;
  }

  .intro-name {
    font-size: 1.5rem;
  }

  .intro-profession {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  .intro-description {
    font-size: 1rem;
  }

  .desc-img {
    width: 1.75rem;
  }
  
  .author-profile {
    width: 80%;
    padding: 0.5rem;
  }

  .author-intro {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 500px) {
  
  .social-links {
    margin-left: -0.5rem;
  }

  .author-profile {
    width: 100%;
  }

  .intro-name {
    font-size: 1.25rem;
  }

  .intro-profession {
    font-size: 1.75rem;
  }

  .intro-description {
    font-size: 1rem;
  }

  .desc-img {
    width: 1.5rem;
  }
}
