<div class="hero-section d-flex align-items-center">
    <div class="row w-100">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex">
            <div class="social-links d-flex flex-column justify-content-between me-3">
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div>
                <img src="" alt="_profile_image">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <h3>Hi I'am <span class="fw-bold">Samay</span></h3>
            <h1><strong class="text-accent-primary fw-bold">{{"{Full Stack}"}}</strong> Web Developer_</h1>
            <p>Woking on Angular, .Net and SQL Server</p>
        </div>
    </div>
</div>