<div class="hero-section">
    <div class="row w-100">
        <div class="col-lg-6 col-md-4 col-sm-12 col-12 p-2">
            <div class="d-flex">
                <div class="social-links d-flex flex-column justify-content-around mx-3">
                    <ng-container *ngFor="let link of socialHandles">
                        <a [href]="link.url" target="_blank" rel="noopener noreferrer">
                            <i [class]="link.icon" [class.mx-3]="true"></i>
                        </a>
                    </ng-container>
                </div>
                <div class="author-profile">
                    <img class="" src="assets/Author/author.jpg" alt="_profile_image">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 col-12 px-3">
            <h1 class="intro-name">Hi I'am <span class="fw-bold">Samay</span></h1>
            <h1 class="intro-profession"><strong class="text-accent-primary fw-bold">{{"{Full Stack}"}}</strong> Web Developer_</h1>
            <p class="intro-description mb-3">I build real-world web apps with
                <span class="text-accent-primary">Angular, .Net C#, SQL Server, MongoDB </span>
                and
                <span class="text-accent-primary"> NodeJs</span>
                — from dynamic UIs to scalable backend systems.
            </p>
            <div class="d-flex mt-3 mb-4">
                <img class="desc-img" src="assets/Logos/angular.png" alt="Angular">
                <img class="desc-img" src="assets/Logos/c-sharp.png" alt="C#">
                <img class="desc-img" src="assets/Logos/sql.png" alt="SQL">
                <img class="desc-img" src="assets/Logos/azure.png" alt="Azure">
                <img class="desc-img" src="assets/Logos/node.png" alt="NodeJs">
                <img class="desc-img" src="assets/Logos/mongo-db.png" alt="mongoDB">
                <p class="text-accent-secondary mt-2">... and more</p>
            </div>
            <a class="tag" download="" [href]="resumeLink">
                Resume
                <i class="fa-solid fa-download ms-2"></i>
            </a>
        </div>
    </div>
</div>