<section>
    <div class="my-4">
        <p class="text-center section-name">Skills</p>
        <div class="row">
            <div class="col-12">
                <div class="content-card skill-img-container mb-2">
                    <img *ngFor="let logo of logos" class="skill-img" [src]="logoBasePath + '/' + logo" [alt]="logo">
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="content-card" style="height: 100%;">
                    <ng-container *ngFor="let skill of skillsList">
                        <p class="mb-3"><span class="text-accent-primary fw-bold">{{skill.title}}:</span> {{skill.description}}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="text-center section-name">Projects</p>
        <h2 class="text-center section-heading">Some of my recent projects</h2>
        <div class="row my-3">
            <ng-container *ngFor="let project of projects">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-1">
                    <div class="content-card project p-2">
                        <div class="project-header mb-2">
                            <div class="thumb mb-2">
                                <img [src]="project.thumb" [alt]="'img'">
                            </div>
                            <h4 class="title mb-2">{{project.title}}</h4>
                            <p class="description mb-2 text-accent-secondary">{{project.description}}</p>
                            <div class="d-flex flex-wrap gap-1">
                                <div class="stack-tag" *ngFor="let tag of project.stack">{{tag}}</div>
                            </div>
                        </div>
                        <div class="d-flex pt-2">
                            <button class="preview-btn" data-bs-toggle="modal" data-bs-target="#CarousalContainer" (click)="previewProject(project.id)">Preview</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<!-- CAROUSAL POPUP -->
<div class="modal fade" id="CarousalContainer" tabindex="-1" aria-labelledby="CarousalContainerLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="CarousalContainerLabel">{{selectedProject?.title}} Gallery</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton></button>
        </div>
        <div class="modal-body">
            <div class="h-100 w-100 d-flex justify-content-center">
                <app-carousal [Images]="selectedProject?.images ?? []" [ProjectName]="!selectedProject?.title ? null : selectedProject?.title"></app-carousal>
            </div>
        </div>
      </div>
    </div>
</div>
