<section>
    <div class="my-4">
        <p class="mb-3 text-center section-name">Skills</p>
        <div class="row">
            <div class="col-12">
                <div class="content-card skill-img-container mb-2">
                    <img class="skill-img" src="./../../../assets/Logos/angular.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/azure.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/dot-net.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/c-sharp.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/gcp.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/js.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/sql.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/express.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/node.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/mongo-db.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/css.png" alt="angular">
                    <img class="skill-img" src="./../../../assets/Logos/html.png" alt="angular">
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="content-card" style="height: 100%;">
                    <ng-container *ngFor="let skill of skillsList">
                        <p class="mb-3"><span class="text-accent-primary fw-bold">{{skill.title}}:</span> {{skill.description}}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="mb-3 text-center section-name">Projects</p>
        <h2 class="text-center mb-5">Some of my projects</h2>
        <div class="row my-3">
            <ng-container *ngFor="let project of projects">
                <div class="col-6 col-lg-3 col-md-6 col-sm-6 p-1">
                    <div class="content-card project p-2">
                        <div class="project-header mb-2">
                            <div class="thumb mb-2">
                                <img [src]="" [alt]="'img'">
                            </div>
                            <h4 class="title mb-2">{{project.title}}</h4>
                            <p class="description mb-2 text-accent-secondary">{{project.description}}</p>
                            <div class="d-flex flex-wrap gap-1">
                                <div class="stack-tag" *ngFor="let tag of project.stack">{{tag}}</div>
                            </div>
                        </div>
                        <div class="d-flex pt-2">
                            <button class="preview-btn">Preview</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>