<nav class="nav">
  <app-navbar style="width: 100%;"></app-navbar>
</nav>

<main id="main-container">
  <div id="app-container" class="container-md">    
    <!-- Main body -->
    <main>
      <section id="intro"><app-intro></app-intro></section>
      <section id="experience"><app-experience></app-experience></section>
      <section id="education"><app-education></app-education></section>
      <section id="projects"><app-projects></app-projects></section>
    </main>
    
    <!-- Footer -->
    <footer id="footer">
      <app-footer></app-footer>
    </footer>
  </div>
</main>