<div class="d-flex flex-column align-items-center py-5">
    <h1 class="d-flex align-items-center">
        <i class="fa-solid fa-chevron-left text-accent-primary"></i>
        <i class="fa-solid fa-chevron-right text-accent-primary me-2"></i>
        Samay Joshi
    </h1>
    <div class="d-flex my-3 footer-icons">
        <i [class]="link.icon" [class.mx-3]="true" *ngFor="let link of handles"></i>
    </div>
    <div class="d-flex my-3">
        <a class="mx-3" [href]="link.url" *ngFor="let link of pageLinks">{{link.section}}</a>
    </div>
</div>