<div class="d-flex flex-column align-items-center py-5">
    <h1 class="d-flex align-items-center">
        <i class="fa-solid fa-chevron-left text-accent-primary"></i>
        <i class="fa-solid fa-chevron-right text-accent-primary me-2"></i>
        Samay Joshi
    </h1>
    <div class="d-flex my-3 footer-icons">
        <ng-container *ngFor="let link of handles">
            <a [href]="link.url" target="_blank" rel="noopener noreferrer">
                <i [class]="link.icon" [class.mx-3]="true"></i>
            </a>
        </ng-container>
    </div>
    <div class="d-flex my-3 justify-content-between">
        <ng-container *ngFor="let link of pageLinks">
            <a [href]="link.url" download="" *ngIf="link.type == 'file'">{{link.section}}</a>
            <a [href]="link.url" *ngIf="link.type == 'link'">{{link.section}}</a>
        </ng-container>
    </div>
</div>