.tag {
    border: 2px solid rgb(219, 219, 219);
    font-size: 14px;
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
}

.company-card {
    cursor: pointer;
}

.company-card.active {
    border-width: 3px;
    border-color: grey;
}

.education-description-wrapper {
    position: relative;
    border-left: 2px solid rgb(209, 209, 209);
}

.education-description-wrapper .dot {
    padding: 0;
    position: absolute;
    left: -5px;
    top: -16px;
    width: 10px;
    height: 10px;
    background-color: rgb(146, 146, 146);
    border-radius: 50%;
}