.tag {
    border: 2px solid var(--border-color);
    font-size: 13px;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
}

.company-card {
    cursor: pointer;
}

.company-card.active {
    border-width: 3px;
    border-color: var(--primary-color);
}

.education-header {
    .year {
        text-wrap-mode: nowrap;
        padding-right: 0.25rem;
    }
}

.education-description-wrapper {
    position: relative;
    border-left: 2px solid rgb(209, 209, 209);
}

.education-description-wrapper .dot {
    padding: 0;
    position: absolute;
    left: -11px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-color: rgb(146, 146, 146);
    border-radius: 50%;
    border: 6px solid white;
}

.company-icon {
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 3rem;
        aspect-ratio: 1/1;
    }
}
