// Defaults
html *{
  box-sizing: border-box;
  // font-family: "Cascadia Code", sans-serif;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}
// ========== Theme Variables =========
:root {
  /* Light theme colors */
  --bg-color: #ffffff;
  --text-color: #111111;
  --primary-color: #2a7ae2;
  --secondary-color: #e6e6e6;
  --border-color: #dcdcdc;
  --card-bg: #ffffff;
  --link-color: #2a7ae2;
  --hover-bg: #e8f0fe;
}

body.light{
  /* Light theme colors */
  --bg-color: #ffffff;
  --text-color: #111111;
  --primary-color: #457dc5;
  --secondary-color: #6f6f6f;
  --border-color: #dcdcdc;
  --card-bg: #fcfcfc;
  --link-color: #2a7ae2;
  --hover-bg: #e8f0fe;
}

body.dark {
  /* Dark theme overrides */
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --primary-color: #90caf9;
  --secondary-color: #7e7e7e;
  --border-color: #333;
  --card-bg: #1e1e1e;
  --link-color: #90caf9;
  --hover-bg: #2a2a2a;
}

// ================= Global CSS =====================

body {
  width: 100vw !important;
  height: 100vh !important;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
}

i {
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content-card {
  background-color: var(--card-bg);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 1rem;
}

.text-accent-primary {
  color: var(--primary-color);
}

.text-accent-secondary {
  color: var(--secondary-color);
}

.bg-accent-primary {
  background-color: var(--primary-color);
}

.bg-accent-secondary {
  background-color: var(--secondary-color);
}

.section-name{
  font-size: 1.25rem;
  padding-bottom: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}