<section>
  <div class="mb-5 content-card">
    <div class="experience-stat">
      <div
        class="d-flex justify-content-center"
        *ngFor="let stat of expStats"
      >
        <div class="exp-card d-flex flex-column">
          <i [class]="stat.icon" class="mb-2"></i>
          <h1>{{ stat.title }}</h1>
          <p>
            <span class="text-accent-secondary">{{ stat.description }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <p class="text-center section-name">What do I offer?</p>
    <h2 class="text-center section-heading">
      Designing Solutions <span class="text-accent-secondary">Customized to meet <br />
      your requirements</span>
    </h2>
    <div class="offerings-wrapper">
      <div class="content-card d-flex flex-column h-100" *ngFor="let offer of offerings">
        <i [class]="offer.icon" class="mb-2 text-accent-secondary"></i>
        <h4 class="title mb-2"> {{ offer.title }}</h4>
        <p class="description text-accent-secondary">{{ offer.description }}</p>
      </div>
    </div>
    <p class="text-center mt-4">
      I am excited to take on new <span class="text-accent-primary">projects and collaboration</span>, <br />
      let's chat about your ideas, <span class="text-accent-primary">Reach Out</span>
    </p>
  </div>
</section>
