<section class="p-3">
  <div class="mb-3">
    <div class="experience-stat d-flex align-items-center row">
      <div
        class="col-6 col-lg-3 col-md-3 col-sm-6 exp-card d-flex flex-column p-2"
        *ngFor="let stat of expStats"
      >
        <p>{{ stat.icon }}</p>
        <h1>{{ stat.title }}</h1>
        <p class="text-accent-secondary">{{ stat.description }}</p>
      </div>
    </div>
  </div>
  <div class="content-card">
    <p class="text-center">What do I offer</p>
    <h1 class="text-center">
      Designing Solutions Customized to meet <br />
      your requirements
    </h1>
    <div class="p-3 row">
      <div
        class="col-lg-4 col-md-6 col-sm-12 col-12 p-2"
        *ngFor="let offer of offerings"
      >
        <div class="content-card d-flex flex-column h-100">
          <p>{{ offer.icon }}</p>
          <h3>{{ offer.title }}</h3>
          <p class="text-accent-secondary">{{ offer.description }}</p>
        </div>
      </div>
    </div>
    <p class="text-center">
      I am excited to take on new <span class="text-accent-primary">projects and collaboration</span>, <br />
      let's chat about your ideas, <span class="text-accent-primary">Reach Out</span>
    </p>
  </div>
</section>
