.experience-stat {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.offerings-wrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 4fr 4fr 4fr;
}

.exp-card {
    i {
        font-size: 1.5rem;
        margin-left: 1rem;
        color: var(--primary-color);
    }

    h1 {
        font-size: 4rem;
        font-weight: 800;
    }
}

@media (max-width: 768px) {
    .exp-card {
        i {
            margin-left: 0.25rem;
            font-size: 1rem;
        }

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .offerings-wrapper {
        grid-template-columns: 6fr 6fr;
    }
}

@media (max-width: 550px) {
    .experience-stat {
        grid-template-columns: 1fr 1fr;

        .exp-card {
            padding-top: 0.5rem;
        }
    }

    .offerings-wrapper {
        grid-template-columns: 12fr;
    }
}
